/* Custom progress bar */

progress::-webkit-progress-bar {
  background-color: gainsboro;
  border-radius: 3px;
}
progress::-webkit-progress-value {
  @apply bg-blue-600;
  border-radius: 3px;
}

progress::-webkit-progress-bar:hover {
  @apply bg-slate-400;
}
progress::-webkit-progress-value:hover {
  @apply bg-blue-800;
}

/* Text Editor css */

.mycontainer > .ql-toolbar.ql-snow {
  border-top-right-radius: 0.3rem !important;
  border-top-left-radius: 0.3rem !important;
}

.mycontainer > .ql-container.ql-snow {
  border-bottom-right-radius: 0.3rem !important;
  border-bottom-left-radius: 0.3rem !important;
}

/* Calender custom css */

:root {
  --fc-today-bg-color: #f2f4f7 !important;
}

.fc {
  font-size: 14px !important;
}
.fc-toolbar-title {
  font-size: 12.5px !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  color: #99a5b5 !important;
  background-color: #1a252f !important;
}
.fc .fc-button-primary {
  color: #99a5b5 !important;
  background-color: white !important;
  border-color: #99a5b5 !important;
}
.fc .fc-button-primary:hover {
  background-color: #1a252f !important;
}
.fc-daygrid-day-number {
  color: #99a5b5 !important;
}
.fc-daygrid-day-number:hover {
  color: black !important;
}
.fc .fc-col-header-cell-cushion {
  padding: 10px !important;
}
